.Aside{

  .logoBase{
    position: relative;
    width: 163px;
    height: 50px;
    overflow: hidden;

    .logo {
      position: absolute;
      top: 0;
      left: 0;

      &.close-to-logo {
        transition: all 0.5s ease-in-out;
        left: 0;
      }

      &.logo-to-close {
        transition: all 0.5s ease-in-out;
        left: -45px;
      }
    }
  }
}
