.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logoBase {
    width: fit-content;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: -40px;

    .aboutTxt {
      position: relative;
      width: fit-content;
      padding: 2px 60px 2px 5px;
      font-weight: bold;
    }

    .listSocial {
      justify-content: flex-start;
    }

    @media (max-width: 1024px) {
      align-items: flex-end !important;

      .aboutTxt {
        padding: 2px 60px 2px 5px !important;
      }

      .listSocial {
        justify-content: flex-start !important;
      }
    }
  }

  .logoClose {
    position: relative;
    width: 163px;
    height: 50px;
    overflow: hidden;

    .logo {
      position: absolute;
      top: 0;
      left: 0;

      &.close-to-logo {
        transition: all 0.5s ease-in-out;
        left: 0;
      }

      &.logo-to-close {
        transition: all 0.5s ease-in-out;
        left: -45px;
      }
    }
  }


  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/sidebar_texture.gif');
    opacity: 0.7;
  }

  &.sidebar0 {

    &::after {
      position: absolute;
      content: '';
      width: 16px;
      height: 100%;
      top: 0;
      right: 0;
      left: auto;
      background-image: url('/borda0.png');
      z-index: 11;
    }

    @media (max-width: 1024px) {
      &::after {
        width: 100%;
        height: 16px;
        top: auto;
        bottom: 0;
        left: 0;
        background-image: url('/borda2.png');
      }
    }



    .about {
      align-items: flex-start;

      .aboutTxt {
        padding: 2px 5px 2px 60px;
      }

      .listSocial{
        justify-content: flex-end;
      }
    }
  }

  &.sidebar1 {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 16px;
      height: 100%;
      top: 0;
      left: 0;
      right: auto;
      background-image: url('/borda1.png');
      z-index: 11;
    }

    @media (max-width: 1024px) {
      &::after {
        width: 100%;
        height: 16px;
        background-image: url('/borda3.png');
      }
    }



    .logoBase {
      padding-left: 30px;
    }
  }

  &.sidebar2 {
    position: relative;


    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 16px;
      bottom: 0;
      left: 0;
      background-image: url('/borda2.png');
      z-index: 11;
    }
  }



  &.sidebar3 {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 16px;
      top: 0;
      left: 0;
      background-image: url('/borda3.png');
      z-index: 11;
    }
  }
}

